.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-settings-component {
  margin: 2%;
  width: 50%;
}

.workspace-settings-component form {
  display: flex;
  flex-direction: column;
}

.form-section-controls {
  margin-top: 2vh;
}

.form-section-controls Button {
  margin: 0vh 2vw;
}

.workspace-preview-component {
  width: 600px;
  height: 430px;
  position: fixed;
  right: 0;
  top: 10vh;
  display: block;

  transform: scale(0.9);
  transform-origin: top right;
}

.workspace-preview-component header {
  background-color: #E7EAEE;
}

.browser-tab-bar {
  display: flex;
  align-items: center;

  background-color: #E7EAEE;
}

.browser-tab {
  width: 250px;
  background-color: #fff;
  margin-left: 15px;
  margin-top: 7px;
  
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: space-between;
}

.browser-menu {
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.browser-menu-url {
  display: flex;
  align-items: center;
}

.browser-workspace-template {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  border: solid 1px #E4E4E4;
}

.browser-main-content {
  width: 100%;
  height: 96%;
}

.browser-main-content header {
  background-color: #fff;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px #E4E4E4;
}

#browser-main-search {
  display: inline-block;
  height: 20px;
  width: 200px;
  background-color: #E7E7E8;
  margin-left: 2vh;
  margin-right: 1vh;
  border-radius: 10px;
}

#browser-main-login {
  height: 30px;
  width: 120px;
  margin-right: 2vh;
  border-radius: 50px;
}

.browser-main-content main {
  width: 100%;
  height: 88%;
  padding-top: 20px;
  padding-left: 12px;
}

#browser-main-title {
  display: block;
  height: 15px;
  width: 150px;
  background-color: #c7d5db;
  border-radius: 10px;
}

.browser-main-list {
  padding: 0;
  list-style-type: none;
}

.browser-main-item {
  height: 40px;
  width: 100%;
  background-color: #F5F6F8;
  margin-top: 1px;

  border-left: 2px solid #BCBEC1;
  border-bottom: 1px solid #E0E8ED;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browser-main-item-mini {
  display: inline-block;
  height: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.browser-main-secondary-item {
  background-color: #c7d5db;
  margin-right: 25px;
  height: 100%;
  width: 200px;

  display: flex;
  align-items: center;
}

.browser-aside-menu {
  border-right: solid 1px #E4E4E4;
  width: 5vw;
  height: 99%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.browser-aside-menu span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 20px;
}

/* 
  TODO: Reduce duplicadted code on rules.
*/

@media (max-width: 900px) {
  .main-container {
    justify-content: flex-start;
    margin: 0 20px;
  }

  .workspace-settings-component {
    width: 100%;
  }

  .workspace-preview-component {
    display: none;
  }
}

@media (max-width: 1000px) {
  .workspace-settings-component {
    transform: scale(0.75);
    transform-origin: top left;
    width: 570px;
  }

  .workspace-preview-component {
    transform: scale(0.55);
    transform-origin: top right;
  }
}

@media (max-width: 1200px) {
  .workspace-preview-component {
    transform: scale(0.75);
    transform-origin: top right;
  }
}