.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.workspace-settings-component {
  background-color: #ff4500;
}

.workspace-preview-component {
  background-color: #1e90ff;
}

@media (max-width: 600px) {
  .main-container {
    justify-content: center;
  }

  .workspace-preview-component {
    display: none;
  }
}